@{
    ViewBag.Title = "Registro Usuario";
    Layout = null;
    var mensaje = TempData["msg"];
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/Login/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Login/Login.css" rel="stylesheet" />
    <link href="~/Content/Login/all.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="container">

        <div class=" justify-content-center regText" style="padding-top:25px">
            <div class="card-header">
                <h1 align="center">POLICOMERCE</h1>
                <h2 align="center">REGISTRO USUARIO</h2>

            </div>
        </div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formRegistro" }))
        {
            @Html.AntiForgeryToken()
            <div class="d-flex justify-content-center">

                <div class="card" style="padding:10px;padding-top:25px">

                    <div class="input-group form-group">
                        <input type="text" name="NOMBRE1" class="form-control" id="PrimerNombre" placeholder="Primer Nombre" required>
                    </div>
                    <div class="input-group form-group">
                        <input type="text" name="NOMBRE2" class="form-control" id="nombre2" placeholder="Segundo Nombre">
                    </div>
                    <div class="input-group form-group">
                        <input type="text" name="APELLIDO1" class="form-control" id="APELLIDO1" placeholder="Primer Apellido" required>
                    </div>
                    <div class="input-group form-group">
                        <input type="text" name="APELLIDO2" class="form-control" id="apellido2" placeholder="Segundo Apellido">
                    </div>
                    <div class="input-group form-group">
                        <input type="number" name="EDAD" class="form-control" id="EDAD" placeholder="EDAD" required>
                    </div>
                    <div class="input-group form-group">
                        <select class="form-control" name="GENERO" required>
                            <option>Genero</option>
                            <option value='M'>Masculino</option>
                            <option value='F'>Femenino</option>

                        </select>

                    </div>

                </div>
                <div class="card" style="padding:10px;padding-top:25px">
                    <div class="input-group form-group">
                        <input type="tel" name="TELEFONO" class="form-control" id="telefono" placeholder="Telefono" required>
                    </div>
                    <div class="input-group form-group">
                        <select class="form-control" onchange="CargarMunicipios()" name="Departamento" id="Departamento">
                            <option value=null>Departamento</option>
                            @foreach (var dep in ViewBag.DepyMuni)
                            {
                                <option data-Codigo="@dep.Codigo" value="@dep.Codigo">@dep.Nombre</option>

                            }
                        </select>
                    </div>
                    <div class="input-group form-group">
                        <select class="form-control" name="IDMUNICIPIO" id="IdMunicipio">
                            <option value="">Municipio</option>

                        </select>

                    </div>
                    <div class="input-group form-group">
                        <input type="text" name="DIRECCION" class="form-control" id="DIRECCION" placeholder="Direccion">
                    </div>
                    <div class="input-group form-group">
                        <input type="text" name="USUARIO" class="form-control" id="USUARIO" maxlength="8" placeholder="Usuario" required autofocus>
                    </div>
                    <div class="input-group form-group">
                        <input type="password" name="CLAVE" class="form-control" id="CLAVE" onkeyup="OcultarBoton()" placeholder="Password" required>
                    </div>


                </div>

                <div class="card" style="padding:10px;padding-top:25px">
                    <div class="input-group form-group">
                        <input type="password" name="pass2" onkeyup="MostrarBoton()" class="form-control" id="pass2" placeholder="Repita Password" required>
                    </div>
                    <div class="input-group form-group">
                        <input type="email" name="CORREO" class="form-control" id="CORREO" placeholder="Email" required>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <input type="submit" name="reg" id="reg" value="Registro" class="btn btn-primary btn-lg active float-right ">
                            <a href="/Login/Index" class="btn btn-danger btn-lg active" id="Cancelar" role="button">Cancelar</a>
                        </div>
                        <div id="conte" style="color:#ffffff"></div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div>
        <br />

        <h5 style="color:#ffffff" id="msg">
            <span id="msg">@mensaje</span>

        </h5>

    </div>


    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/Registro/LoginRegistro.js"></script>

</body>
</html>