@using Dto.Dto.Login;
@{
    ViewBag.Title = "Menu Principal";
    var usuario = Session["User"] as LoginDto;

}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Menu/Menu.css" rel="stylesheet" />
    <link href="~/Content/Login/Login.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
</head>
<body>


    <div class="navbar navbar-inverse navbar-fixed-top">

        <input type="checkbox" name="mobile-nav" id="mobile-nav" class="burger-check" onchange="this.blur()">
        <label for="mobile-nav" class="burger white" tabindex="0"><span></span></label>
        <nav role="navigation" class="header-nav">
            <div class="fixed-nav">
                <div class="menu">

                    <div class="navbar-collapse collapse">
                        <ul>
                            <li class="page_item page-item-2">

                                <a href="#" class="btn  btn-block btn" style="color:white;background-color:black">
                                    <h4>Bienvenido : @usuario.Nombre</h4>
                                </a>
                            </li>
                            <li class="page_item page-item-2">

                                <img src="~/Content/Img/logo.jpg" width="200" height="70" />
                            </li>


                            <li class="page_item page-item-2" style="color:black">
                                <p>
                                    <a href="@Url.Action("Index", "Home")" class="btn btn-dark btn-block " style="color:white;background-color:black">
                                        <span class="glyphicon glyphicon-home"></span> HOME
                                    </a>
                                </p>

                            </li>
                            <li class="page_item page-item-2">
                                <p>
                                    <a href="@Url.Action("Productos", "Home")" class="btn btn-dark btn-block " style="color:white;background-color:black">
                                        <span class="glyphicon glyphicon-list-alt"></span> Productos
                                    </a>
                                </p>



                            </li>

                            <li class="page_item page-item-2">
                                <p>
                                    <a href="@Url.Action("Servicios", "Home")" class="btn btn-dark btn-block" style="color:white;background-color:black">
                                        <span class="glyphicon glyphicon-list-alt"></span> Servicios
                                    </a>
                                </p>


                            </li>
                            <li class="page_item page-item-2">
                                <p>
                                    <a href="@Url.Action("Productos", "Home")" class="btn btn-dark btn-block " style="color:white;background-color:black">
                                        <span class="glyphicon glyphicon-list-alt"></span>Solicitados
                                    </a>
                                </p>



                            </li>
                            <li class="page_item page-item-2">
                                <p>
                                    <a href="@Url.Action("CerrarSession","Login")" class="btn btn-dark btn-block " style="color:white;background-color:black">
                                        <span class="glyphicon glyphicon-log-out"></span> Salir
                                    </a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Policomerce </p>
        </footer>
    </div>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
