@using Dto.Dto.Login;
@{
    ViewBag.Title = "Pedidos Solicitados";
    var usuario = Session["User"] as LoginDto;
    var option= 0;
}
<script src="~/Scripts/Tables/jquery-3.3.1.js"></script>
<script src="~/Scripts/Tables/jquery.dataTables.min.js"></script>
<link href="~/Content/Table/Estilo.css" rel="stylesheet" />
<link href="~/Content/Table/jquery.dataTables.min.css" rel="stylesheet" />



<div class="row rowest" id="row">
    <div class="ttctg">

        <img src="~/Content/Img/bannerservicios.jpg" class="BBPP" />
        <h3 class="txtes">PEDIDOS SOLICITADOS</h3>
       
    </div>
    <br />
    <div>
        <table id="detallePedido" style="width:100%" border="0" class="display">
            <thead>
                <tr>
                    <th class="contetable">CODIGO</th>
                    <th class="contetable">DOCUMENTO</th>
                    <th class="contetable">ESTADO</th>
                    <th class="contetable">FECHA PEDIDO</th>
                    <th class="contetable">PAGO</th>
                    <th class="contetable">TOTAL PEDIDO</th>
                    <th class="contetable">ACCIONES</th>
                    <th class="contetable" hidden>ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var produc in ViewBag.Encabezado)
                {
                    
                <tr>

                    <td class="detatable">@produc.Codigo</td>
                    <td class="detatable">@produc.Documento</td>
                    <td class="detatable">
                        @switch (produc.Estado)
                        {
                            case "En Progreso":
                                <span class="label label-primary">En Progreso</span>
                                option = 0;
                                break;
                            case "Pendiente":
                                <span class="label label-success">Pendiente</span>
                                break;
                            case "Enviado":
                                <span class="label label-info">Enviado</span>
                                break;
                            case "Cancelado":
                                <span class="label label-danger">Cancelado</span>
                                option = 1;
                                break;
                        }


                    </td>
                    <td class="detatable">@produc.Pedido.Substring(0, 10)</td>
                    <td class="detatable">@produc.Pago</td>
                    <td class="detatable">@produc.Total</td>
                    <td class="detatable">
                        @if (option == 1)
                        {
                            <button type="button"  value="@produc.Id" class="btn btn-danger" disabled>
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <button type="button" id="btnselec"   class="btn btn-success pedidoDetalle"
                                    data-toggle="modal" data-target="#productodetalle">
                                <span class="glyphicon glyphicon glyphicon-list-alt"></span>
                            </button>
                        }
                        else
                        {
                            <button type="reset" id="btndelete"  class="btn btn-danger pedidoEncabezado"
                                    data-toggle="modal" data-target="#EliminarPedido">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <button type="reset" id="btnselec"    class="btn btn-success pedidoDetalle"
                                     data-toggle="modal" data-target="#productodetalle">
                                <span class="glyphicon glyphicon glyphicon-list-alt"></span>
                            </button>
                        }
                    </td>
                    <td class="detatable" hidden>@produc.Id</td>

                </tr>
                }
            </tbody>
        </table>
        <!-- Modal detalle -->
        <div class="modal fade" id="productodetalle"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" id="pp" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="align-content:center">
                        <img src="~/Content/Img/logo.jpg" class="img" />
                        <h4 class="modal-title" style="text-align:center" id="exampleModalLongTitle">Detalle Pedido</h4>
                    </div>
                    <div class="modal-body">

                        <table id="Detalle" style="width:100%"  border="0" class="display">
                            <thead>
                                <tr>
                                    <th class="contetable">IMAGEN</th>
                                    <th class="contetable">NOMBRE</th>
                                    <th class="contetable">CANTIDAD</th>
                                    <th class="contetable">PRECIO</th>
                                    <th class="contetable">Total</th>

                                </tr>
                              
                            </thead>
                            <tbody id="cuerpo">
                              
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!--alerta-->

        <div class="modal" tabindex="-1" role="dialog" id="EliminarPedido">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">


                        <p style="font-size:15px"><img src="~/Content/Img/logo.jpg" style="width:100px;height:50px" /> Alerta</p>
                    </div>
                    <div class="modal-body" style="text-align:center">
                        <label id="id" hidden></label>
                        <p style="font-size:20px" hidden><h4 id="mensaje"></h4></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="confirmar" onclick="CancelarPedido()" data-dismiss="modal">Confirmar</button>
                        <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script src="~/Scripts/Tables/DataTable.js"></script>
